body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
}
table {
  width: 100%;
  border-collapse: collapse;
  text-align: center; /* Center align all text in the table */
}

th, td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: center; /* Center align text in all cells */

}

tbody tr td {
  vertical-align: middle; /* Center align content vertically */
}

.columntitle{
  background-color: #073763;
  color: white;
}


