body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

table{
  width: 100vw;
}
th, td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: center; /* Center align text in all cells */

}

tbody tr td {
  vertical-align: middle; /* Center align content vertically */
}

.columntitle{
  background-color: #073763;
  color: white;
}
.namerow{
  font-size: large;
  background-color: red;
}
.nametag{
  color:white;
  font-weight: bold;
}
.selector-for-some-widget {
  box-sizing: content-box;
}

